* {
    font-family: "Courier New", Avenir, sans-serif;
    background-color: black;
}

.assetsImage {
    padding: 10vh 35vh 1vh 35vh;
    height: auto;
    width: 100%;
}

/* Footer CSS */

.footer {
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    text-align: center;
    background-color: black;
    color: white;
}

.column {
    float: left;
    width: 20%;
    padding: 5vh;
    margin: 0;
    list-style-type: none;
    box-sizing: border-box;
    font-weight: lighter;
}

/* Reservation */

.background-modal {
    background-color: white;
    color: black;
    text-align: center;
}

.modal-title {
    background-color: white;
    color: black;
}

.modal-header {
     background-color: white;
}

.modal-body {
    background-color: white;
}

.modal-footer {
    background-color: white;
}

.modal-open .modal {
    background-color: transparent;
}

.seats {
    background-color: white;
}

.seats input {
    height: 5.5vh;
    border: none;
    -webkit-transition: all 0.10s ease-in-out;
    -moz-transition: all 0.10s ease-in-out;
    -o-transition: all 0.10s ease-in-out;
    transition: all 0.10s ease-in-out;
}

.seats input[type=image]:focus, input[type=image]:hover {
    box-shadow:0 0 5px rgba(81, 203, 238, 1);
    border: 1px solid rgba(81, 203, 238, 1);
}

.reservation-grid {
    color: black;
    background-color: white;
    display: grid;
    justify-items: center;
    grid-template-columns: repeat(4, 1fr);
}

.reservation-modal {
    color: white;
    background-color: transparent;
}

/* Home Page */

.grid-container {
    margin: 15vh 5vh 5vh 5vh;
    color: white;
    display: grid;
    justify-items: center;
    grid-template-columns: repeat(5, 1fr);
    grid-row-gap: 5vh;
    /*grid-template-rows: repeat(4, 1fr);*/
}

.grid-container img {
    height: 40vh;
    width: 30vh;
    border-radius: 5px;
}

.grid-container h2 {
 text-align: center;
}

.grid-container p {
    text-align: center;
}

.grid-container button {
    margin:0 auto !important;
    display:block;
    text-align:center;
}

/* Gallery Page */

.gallery {
    margin-top: 10vh;
}


.gallery img:hover {
    -webkit-transition: all 0.25s ease-in-out;
    -moz-transition: all 0.25s ease-in-out;
    -o-transition: all 0.25s ease-in-out;
    transition: all 0.25s ease-in-out;
    box-shadow:0 0 5px rgba(81, 203, 238, 0);
    border: 10px solid rgba(81, 203, 238, 0);
    border-radius: 10px;
}

/* Arrow buttons in Gallery */
.css-8wgz7g {
    background-color: transparent;
}

/* Exit and Fullscreen button in Gallery */
.css-9s8aw7 {
    background-color: transparent;
    color: white;
}

/* Page indicator in Gallery */
.css-w6xjhe {
    background-color: transparent;
    color: white;
}

/* Texts in gallery */
.css-1ycyyax {
    background-color: black;
}

.css-m6j0xf {
    background: white;
}

span {
    background-color: transparent;
}


/* Signing Page */

/* Colors */
/*
pitch black #000000
wine red: #4b0e1d;
*/

.wrapper {
    height: 78.2vh;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-color: #4b0e1d;
}

.first-form-wrapper {
    width: 400px;
    display: flex;
    flex-direction: column;
    padding: 20px 40px;
    border-radius: 10px;
    box-shadow: 0px 10px 50px #555;
    margin: auto 10vh auto auto;
    background-color: #ffffff;
    z-index: 2;
}

.second-form-wrapper {
    width: 400px;
    display: flex;
    flex-direction: column;
    padding: 20px 40px;
    border-radius: 10px;
    box-shadow: 0px 10px 50px #555;
    margin: auto auto auto 10vh;
    background-color: #ffffff;
    z-index: 1;
}

form {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
}

h3 {
    text-align: center;
}

label {
    font-size: 0.8em;
    margin-bottom: 0.25em;
    color: #222;
    font-weight: lighter;
}

input {
    padding: 10px 10px;
    border-radius: 5px;
    outline: none;
    border: 1px solid #cfcfcf;
}

input::placeholder {
    font-size: 1.2em;
    font-weight: lighter;
    color: #999;
}

input.error {
    border: 1px solid red;
}

.errorMessage {
    color: red;
    font-size: 0.75em;
}

.firstName {
    margin-right: 1%;
}

.lastName {
    margin-left: 1%;
}

.firstName,
.lastName,
.email,
.password {
    display: flex;
    flex-direction: column;
    margin-bottom: 15px;
}

.firstName,
.lastName {
    width: 49%;
}

.email,
.password {
    width: 100%;
}

.createAccount {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.createAccount button {
    background-color: #519e8a;
    color: #fff;
    border: 2px solid #fff;
    width: 100%;
    margin-top: 1em;
    padding: 8px 0px;
    font-size: 1em;
    font-weight: lighter;
    letter-spacing: 1px;
    margin-bottom: 0.25em;
}

.createAccount button:hover {
    color: #519e8a;
    background-color: #fff;
    border: 2px solid #519e8a;
}

.createAccount small {
    color: black;
    font-weight: lighter;
}

/* Admin Login */

.form-wrapper {
    width: 400px;
    display: flex;
    flex-direction: column;
    padding: 20px 40px;
    border-radius: 10px;
    box-shadow: 0px 10px 50px #555;
    background-color: #ffffff;
}

.component-container {
     background-color: #4b0e1d;
 }

.hWXsxm {
    background-color: #4b0e1d;
}

/* About Page */

.profilePicture {
    float: right;
}

.carousel-caption {
    background: transparent;
    position: relative !important;
    padding: 0 !important;
}

.captionText {
    background: transparent;
    word-wrap: break-spaces;
}

.carousel-indicators {
    background: transparent;
    width: 45vh;
    padding: 10px;
    margin: auto !important;
}

.carousel {
    margin: 8vh auto 8vh auto !important;
}

.quotes {
    color: white;
    width: 40vh;
    text-align: center;
    background: transparent ;
    margin-top: 20vh;
}

/* Media for Smaller Screens */

@media screen and (max-width: 1000px) {

    .assetsImage {
        margin: 5vh auto -4vh auto;
    }

    /* Home Page */
    .grid-container {
        grid-template-columns: repeat(2, 1fr);
        margin: 15vh auto auto auto;
    }

    /* Footer */
    .footer {
        flex-direction: column;
        align-content: center;
        text-align: center;
        background-color: black;
        color: white;
    }

    /* About Page */

    .carousel {
        margin: 8vh auto 8vh auto !important;
    }

    .quotes {
        width: auto !important;
        margin: 90vh 20vh auto 0 !important;
    }

    /* Sign Up Page */
    .column {
        padding: 5vh 0 5vh 0;
        width: auto;
    }

    .wrapper {
        height: auto !important;
        margin: auto;
        width: 100%;
        flex-direction: column !important;
    }

    .form-wrapper {
        width: 42vh !important;
        margin: 15vh auto 5vh auto !important;
        box-shadow: none !important;
    }

    .first-form-wrapper {
        width: 42vh !important;
        margin: 15vh auto 1vh auto !important;
        box-shadow: none !important;
    }

    .second-form-wrapper {
        width: 42vh !important;
        flex-direction: column !important;
        margin: 1vh auto 4vh auto !important;
        box-shadow: none !important;
    }
}

@media screen and (max-width: 550px) {
    .grid-container {
        grid-template-columns: repeat(1, 1fr);
        margin: 15vh auto auto auto;
    }

    /* About Page */
    .profilePicture {
        height: 60vh;
        width: 50vh;
        float: right !important;
     }

    .quotes {
        width: auto !important;
        margin: 65vh 12vh auto 0 !important;
    }
}