* {
    font-family: "Courier New", Avenir, sans-serif;
    background-color: black;
}
.assetsImage {
    padding: 8vh 10vh 1vh 10vh;
    height: auto;
    width: 100%;
}
/* Footer CSS */

.footer {
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    text-align: center;
    background-color: black;
    color: white;
}

.column {
    float: left;
    width: 20%;
    padding: 5vh;
    margin: 0;
    list-style-type: none;
    box-sizing: border-box;
    font-weight: lighter;
}

/* Signing Page */

/* Colors */
/*
pitch black #000000
wine red: #4b0e1d;
*/
.wrapper {
    height: 78.2vh;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-color: #4b0e1d;
}

.first-form-wrapper {
    width: 400px;
    display: flex;
    flex-direction: column;
    padding: 20px 40px;
    border-radius: 10px;
    box-shadow: 0px 10px 50px #555;
    margin: auto 10vh auto auto;
    background-color: #ffffff;
}

.second-form-wrapper {
    width: 400px;
    display: flex;
    flex-direction: column;
    padding: 20px 40px;
    border-radius: 10px;
    box-shadow: 0px 10px 50px #555;
    margin: auto auto auto 10vh;
    background-color: #ffffff;
}

form {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
}

h3 {
    text-align: center;
}

label {
    font-size: 0.8em;
    margin-bottom: 0.25em;
    color: #222;
    font-weight: lighter;
}

input {
    padding: 10px 10px;
    border-radius: 5px;
    outline: none;
    border: 1px solid #cfcfcf;
}

input::placeholder {
    font-size: 1.2em;
    font-weight: lighter;
    color: #999;
}

input.error {
    border: 1px solid red;
}

.errorMessage {
    color: red;
    font-size: 0.75em;
    display: relative;
}

.firstName {
    margin-right: 1%;
}

.lastName {
    margin-left: 1%;
}

.firstName,
.lastName,
.email,
.password {
    display: flex;
    flex-direction: column;
    margin-bottom: 15px;
}

.firstName,
.lastName {
    width: 49%;
}

.email,
.password {
    width: 100%;
}

.createAccount {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.createAccount button {
    background-color: #519e8a;
    color: #fff;
    border: 2px solid #fff;
    width: 100%;
    margin-top: 1em;
    padding: 8px 0px;
    font-size: 1em;
    font-weight: lighter;
    letter-spacing: 1px;
    margin-bottom: 0.25em;
}

.createAccount button:hover {
    color: #519e8a;
    background-color: #fff;
    border: 2px solid #519e8a;
}

.createAccount small {
    color: black;
    font-weight: lighter;
}
.third-slide {

}
.profile {
    height: 90vh !important;
}
.text {
    text-align: right;
}
.kuva {
   float: right;
}
.carousel-caption {
    background: transparent;
    margin: auto;
    position: relative !important;


}
.captionText {
    background: transparent;
    float: left;
    text-align: center;
    word-wrap: break-spaces;
    margin: auto auto auto auto;




}
.carousel-indicators {
    background: transparent;
    width: 45vh;
    padding: 10px;
    margin: auto !important;
}
.carousel-item {
    margin-top: 20vh !important;

}
.quotes {
    color: blue;
    text-align: center;
    background: transparent;

}
