<hibernate-configuration>
	<session-factory>
		<!-- Käytä MySQL-tietokantaa -->
		<property name="hibernate.dialect"> org.hibernate.dialect.MySQL5Dialect</property>

		<!-- Yhteyden perustiedot: ajuri, palvelin käyttäjätunnus/salasana -->
		<property name="hibernate.connection.driver_class">com.mysql.jdbc.Driver</property>



		<!--
		<property name="hibernate.connection.url">jdbc:mysql://10.114.32.11:3306/moviesurfer</property>
		<property name="hibernate.connection.username">abdullah</property>
		<property name="hibernate.connection.password">moviesurfer</property>
-->


		<!-- Locally -->
<!--
		<property name="hibernate.connection.url">jdbc:mysql://localhost:3306/moviesurfer</property>
		<property name="hibernate.connection.username">root</property>
		<property name="hibernate.connection.password"></property>
-->


		<!-- create , create-drop, update tai validate -->
		<!-- Älä käytä tuotantoversioissa, ts, älä anna Hibernaten enää muuttaa taulurakennetta  -->
		<!-- Ekalla kerralla create, kun kanta olemassa validate -->
		<property name="hbm2ddl.auto">create</property>

		<!-- kun true, kaiuta kaikki SQL-lauseet stdout:iin -->
		<property name="show_sql">true</property>

		<!-- Mallitason DTO-oliot, pakkausnimet mukaan -->
		<mapping class="User" />
	</session-factory>
</hibernate-configuration>
